<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card number formats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Card number formats</h1>
            </div>
			<img src="{{ url_for('static', filename='images/credit-card.jpg') }}" alt="Credit Card">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('results') }}">Validator Results history</a></li>
                    <li><a href="/luhn-algorithm">Check Digits</a></li>
					<li><a href="/check-digits">Check Digits</a></li>
					<li><a href="/card-number-formats">Card Number Formats</a></li>
					<li><a href="/cvv">Card Verification Value (CVV)</a></li>
					<li><a href="/security-tips">Security Tips</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section>Although it may seem random, credit card digits are strategically
      placed and represent a vital piece of information. Accurate transactions
      would not be possible without the specific sequence of numbers, the
      precise shape and exact size, all of which adhere to strict standards
      dictated by the ISO (International Organization of Standardization) and
      enforced by the ANSI (American Network of Standards Institute).<br>
      <br>
      These standards allow cards to be used worldwide. The only difference
      among them is Visa, Mastercard and Discover are always 16 digits while
      American Express employs a 15-digit format.<br>
      <br>
      The first six or eight digits of the credit card represent the Issuer
      Identification Number (IIN), also known as the Bank Identification Number
      (BIN). These digits clearly identify the financial institution issuing the
      card. The first digit is the Major Industry Identifier (MII) and it is
      allocated by the American Banking Association. Each major credit card
      network has its own MII:<br>
      <br>
      American Express cards always begin with the number 3, more specifically
      34 or 37.<br>
      Visa cards begin with the number 4.<br>
      Mastercards start with the number 5.<br>
      Discover Cards begin with the number 6.<br>
      The next five digits of the IIN represent the specific issuing bank, also
      known as the Bank Identification Number or BIN. These digits facilitate
      the exchange of information for the clearing of a transaction. The IIN for
      each of the four major networks:<br>
      <br>
      Visa uses numbers 2 through 6 as the BIN.<br>
      Mastercard uses digits 2 and 3, or 2 through 4, 5, or 6.<br>
      American Express uses numbers 3 and 4 to identify the brand of card (e.g.
      American Express Platinum card, Delta Card, etc.).<br>
      <br>
      <button onclick="history.back()">Go Back</button>
      <!-- Add more detailed information about the Luhn algorithm here --> </section>
  </body>
</html>
