<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card Validator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Credit card validator</h1>
            </div>
			<img src="{{ url_for('static', filename='images/credit-card.jpg') }}" alt="Credit Card">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('results') }}">Validator Results history</a></li>
                    <li><a href="/luhn-algorithm">Check Digits</a></li>
					<li><a href="/check-digits">Check Digits</a></li>
					<li><a href="/card-number-formats">Card Number Formats</a></li>
					<li><a href="/cvv">Card Verification Value (CVV)</a></li>
					<li><a href="/security-tips">Security Tips</a></li>
                </ul>
            </nav>
        </div>
    </header>
	
    <div class="container">
        <section>
		<h1>
		<b>Credit card validation</b>
		</h1
		<br>
		<h5>Enter your credit card number into the form below. Check the results link for history of your credit card checks.<br>
		Explore this webpage to see how credit card validation works.
		</h5>
		<br>
		</section>
        <form method="post">
            Credit Card Number: <input type="text" name="card_number"/>
            <input type="submit" value="Validate"/>
        </form>
        <p>{{ message }}</p>
    </div>
	
</body>
</html>

